
.close-button {
    position: fixed;
    top: 20px; 
    right: 20px;
    background-color: rgb(13, 12, 14); 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999; 
  }
  
  .close-button:hover {
    background-color: rgb(196, 177, 177); 
  }
  